/* header*/
/*
dfddc7
f58b54
a34a28
211717
*/
*{
	box-sizing: border-box;
}
body,html{
	margin:0;
	padding:0;
}
@import "compass/css3";



.container {
	position: fixed;
	left:85%;
	top:80%;
	z-index: 1;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.pulse-button {
  position: fixed;
  margin-left: -50px;
  margin-top: -50px;
  display: block;
  width: 10vw;
  height: 10vw;
  font-size: 1.3em;
  font-weight: light;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 10vw;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-radius: 50%;box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  background: #a34a28;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#a34a28, .5);
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);transition: all 300ms ease-in-out;
}
.pulse-button:hover {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
}

@-webkit-keyframes pulsing {
	to {
	  box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
	}
  }
  
  @-moz-keyframes pulsing {
	to {
	  box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
	}
  }
  
  @-ms-keyframes pulsing {
	to {
	  box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
	}
  }
  
  @keyframes pulsing {
	to {
	  box-shadow: 0 0 0 30px rgba(141, 29, 29, 0);
	}
  }
.btn{
	background-color: #a34a28 !important; 
	border-color: transparent !important; 
	color:white !important; 
}	
div.about{
	background-image: url("images\\academy.jpg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width:100%;
	display:flex;
	flex-direction: column;
	align-content: space-around; 
}
div.logo{
	text-align: center;
	margin:0 auto;
}
img.logo{
	max-width:100%;
}
div.about_text{
	width:60%;
	margin-right:auto;
	margin-left:auto;
	margin-top: 70px;
	text-align: center;
	font-size: 40pt;
	color:white;
}
div.button{
	margin-top: 25px;
	background-color: #f58b54;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	width:300px;
	height:70px;
	font-size: 25pt;
	margin-right:auto;
	margin-left:auto;
}
div.button a{
	text-decoration: none;
	color:white;
}
div.sn{
	margin-top: 50px;
	margin-bottom: 25px;
	text-align: center;
	width:250px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
div.network{
	border-radius: 50%;
	width:70px;
	background-color: #a34a28;
}
/*academy*/
div.academy{
	min-height:300px;
	background-color: #dfddc7;
}
div.inner_academy{
	width:800px;
	min-height:300px;
	background-color:white; 
	margin-right: auto;
	margin-left: auto;
}
div.text{
	text-align:center;
	width:800px;
	padding:20px;
	padding-top: 80px;

}
div.academy_types{
	background-color: #211717;
	color:white;
	padding:20px;
	display:flex;
}
div.base_course, div.qualification, div.seminar{
	margin:0 0 auto 0;
	display:inline-block;
	width:33%;
}
/*sign_up*/
div.sign_up{
	height:750px;
	background-color: #a34a28;
	padding:50px;
	text-align: center;
}
div.inner_sign_up{
	height:650px;
	max-width:600px;
	margin-right:auto;
	margin-left:auto;
	background-color: #f58b54;
	text-align: center;
}
div.form{
	height:75%;
	width:50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin:0 auto;
}
div.form_element{
	text-align: center;
}
input#last_name, input#name, input#email {
	max-width:250px;
	height:50px;
	font-size: 200%;
	border-color: transparent;
}
div.sign_up_text{
	text-align:center;
}
/*footer*/

div.footer{
	padding:7%;
	height: 300px;
	width:100%;
	background-color:black;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
div.footer_logo{
	width:250px;
}
div.footer_menu{
	width:300px;
}
div.footer_address{
	width:300px;
	color:white;
}
ul.footer_menu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
li.footer_menu_element{
	min-width:100px;
	list-style-type: none;
	text-align: center;
}
ul.footer_menu a{
	text-decoration: none;
	color:white;
}
div.footer_address{
	text-align: center;
}

@media screen and (max-width:1440px) {
	div.price_element{
		height: 100px;
	}
}

@media screen and (max-width:1024px) {
	.container{
		display:none;
	}
	div.about_text{
		font-size: 35pt;
	}
	div.product_content{
		flex-direction:column;
		align-content: center;
	}
	div.description{
		width:700px;
		height:200px;
		order:1;
	}
	div.product_slider{
		order:0;
		width:700px;	
		height:400px;
	}
	div.footer{
		flex-direction: column;
		align-items: center;
	}
	div.footer_menu{
		width:100%;
	}
	div.price_element{
		flex-direction: column;
	}
	div.academy_types{
		display:block;
	}
	div.academy_types div{
		width:100%;
	}
}
@media screen and (max-width: 900px){
	div.inner_priceList{
		width:95%;
	}
	div.price_element{
		font-size: 80%;
	}
}
@media screen and (max-width: 768px){
	div.about_text{
		font-size: 30pt;
	}
	div.button{
		width:200px;
		height:45px;
	}
	div.sn{
		width:200px;
	}
	div.network{
		width:60px;
		height:60px;
	}
	div.logo{
		width:300px;
	}
	div.description{
		width:100%;
	}
	div.product_slider{
		width:100%;
	}
	div.price_title h2{
		font-size: 30px;
	}
	div.price_price h2{
		font-size: 30px;
	}
	div.academy{
		width:100%;
	}
	div.inner_academy{
		width:100%;
	}
	div.text{
		width:100%;
	}
	
	div.sign_up{
		width:100%;
		padding:0px
	}
}
@media screen and (max-width: 480px){
	div.about_text{
		font-size: 25pt;
	}
	div.about div.button{
		margin-bottom:0;
		width:150px;
		height:35px;
		font-size: 20pt;
	}
	div.inner_priceList{
		width:100%;
	}
	div.price_title h2{
		font-size: 22px;
	}
	div.price_price h2{
		font-size: 22px;
	}
	div.inner_sign_up{
		width:100%;
	}
	div.form{
		text-align: center;
	}
	input#last_name, input#name, input#email {
		width:150px;
	}
}